.dmHover {
    position: relative;
}

.dmCover {
    position: absolute;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    right: 15px;
    border-radius: 4px;
    width: 170px;
    height: 36px;
    top: -8px;
}

.dmIcons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;
}

.dmLi {
    width: 28px;
    height: 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dmLi:hover {
    background: rgba(196, 196, 196, 0.2);
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}
.dmLi > *:focus {
    outline: none;
}
