@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.inputboxcontainer{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    Width: 750px;
    Height: 94px;
    margin-top: 500px;
    margin-left: 270px;
    

}

.inputboxcontainer >.first-box >input{
width: 750px;
height: 54px;
outline:#FFFFFF;
border:solid #FFFFFF;;
font-family: lato;
border-right: 1px solid #FFFFFF;
}

.inputboxcontainer>.second-box{
    display: flex;
    margin: 7px;
}

.inputboxcontainer> .bslight, .line, .bold, .italic, .link, .list{
    margin: 5px;
}

.inputboxcontainer> .second-box >div >.line{
    transform: rotate(52deg);
    
}

.inputboxcontainer> .second-box >div >.at{
    margin-left: 470px;
}

.inputboxcontainer> .at, .clip, .send, .line, .angledown{
    margin: 5px;
    justify-content: space-around;
    
}

.inputboxcontainer> .second-box >div >.send{
    transform: rotate(52deg);
    color:#1D1C1D;
    

}



