@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.dmUserContainer{
    position:absolute;
    z-index: 1;
    width:280px;
    top: 10%;
    font-family:'Lato', sans-serif;
    left: 10.5%;
    left: 100.5px;
}

.dmPopupImg img{
    vertical-align: middle;
    width: 100%;
    height: 290px;
    margin: 0px 0px 16px 0px;
    /* object-fit: cover; */
} 

.dmPopupName h1{
    font-size: 25px;
    font-weight: 700;

}

.dmPopupStack p, .dmPopupPronouns p, .dmViewProfile p{
    font-size: 13px;
    font-weight: 500;
}

.dmViewProfile{
    cursor: pointer;
    color: #1264A3;
}

.dmPopupTime, .dmPopupStatus{
    font-size: 12px;
    color: #999999;
}

.dmPopupFooter button {
    width: 117px;
    height: 32px;
    border: 1.11864px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ffff;
    font-size: 12px;
    font-weight: bold;
}

