.dm-profile-header-name-img {
    cursor: pointer;
    outline: none;
    user-select: none;
}

.dm-profileHeader {
    display: flex;
    background: #00b87c;
    color: white;
    font-weight: 700;
    padding: 6px 16px;
}

.profileHeader__img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin: auto 0;
}

.profileHeader__name {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 32px;
    padding-left: 13px;
    padding-right: 6px;
}
.profileHeader__icon {
    font-size: 30px;
    font-weight: bold;
    padding: 4px 0;
}
.profilePop {
    background: #f6f6f6;
    margin-bottom: 0;
    height: 100%;
}
.profilePop__head {
    background: #fff;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 41px;
}
.profilePop__img {
    width: 84px;
    height: 94px;
    border-radius: 4px;
    margin-right: 19px;
}
.profilePop__top {
    display: flex;
    justify-content: space-between;
}
.profilePop__header {
    display: flex;
}
.profilePop__icon {
    font-size: 30px;
    cursor: pointer;
    color: #333333;
}
.profilePop__details__header {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
}
.profilePop__details__para {
    font-size: 15px;
    color: #616061;
    margin-bottom: 0;
}
.profilePop__mute {
    background: transparent;
    border: 1px solid #979797;
    color: #616061;
    font-size: 14px;
    border-radius: 6px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 7px;
    margin-top: 24px;
    margin-bottom: 21px;
}
.profilePop__switch {
    display: flex;
}
.profilePop__switch p {
    margin-bottom: 0;
    margin-right: 32px;
    font-size: 15px;
    padding-bottom: 11px;
}
.profilePop__switch__1 {
    border-bottom: 1px solid #00b87c;
}
.profilePop__body {
    padding: 20px 24px;
}
.profilePop__body__card1,
.profilePop__body__card2 {
    background: #fff;
    border-radius: 4px;
}
.profilePop__body__card1 {
    font-size: 15px;
    padding: 26px 26px 26px 21px;
    color: #616061;
}
.profilePop__body__card1 svg {
    font-size: 25px;
    margin-right: 12px;
}
.profilePop__blue {
    color: #1264a3;
}
h2.profilePop__blue {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}
.profilePop__body__card2 {
    margin-top: 21px;
    padding: 24px;
}
.profilePop__body__card2 h1 {
    font-size: 15px;
    font-weight: 700;
}
.profilePop__body__card2 p {
    color: #616061;
}
.nav-tabs .nav-item.nav-link.active{
    background-color: white;
    color: white;
}
