@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div,
header,
section,
code,
footer,
main,
article,
button,
textarea,
input {
    display: block;
}

img {
    vertical-align: middle;
}

:root {
    --bg-color-header: #00b87c;
    --bg-color-footer: #e1fdf4;
    --color-btn-bookmark: #bcf9e6;
    --color-hover-send: #1264a3;
    --clr-text: hsla(0, 0%, 11%, 1);
    --clr-time: hsla(300, 1%, 38%, 1);
    --clr-hover: hsla(161, 88%, 94%, 1);
    --clr-background: hsla(0, 0%, 100%, 1);
}

.dm-newchat-room {
    width: 100%;
    height: calc(100% - 38px);
    overflow: hidden;
    background: #f9f9f9;
}

.dm-message-in-out-box {
    height: 70vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    order: 2;
}

.dm-message-in-out-box .dm-chatcontainer-box {
    padding-right: 0;
}

.dm-footer-input-field {
    background: transparent;
    z-index: 1;
    flex: none;
    order: 3;
}

html[dir='ltr'] .dm-chat-main-container {
    left: 0;
    border: 1px solid var(--bg-color-footer);
}

.dm-chat-main-container {
    position: absolute;
    top: 0;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transition: background 0.3s ease-out 0.1s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
