*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div,
header,
section,
code,
footer,
main,
article,
button,
textarea,
input {
    display: block;
}

img {
    vertical-align: middle;
}
