@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div,
header,
section,
code,
footer,
main,
article,
button,
textarea,
input {
    display: block;
}

img {
    vertical-align: middle;
}

:root {
    --bg-color-header: #00b87c;
    --bg-color-footer: #e1fdf4;
    --color-btn-bookmark: #bcf9e6;
    --color-hover-send: #1264a3;
    --clr-text: hsla(0, 0%, 11%, 1);
    --clr-time: hsla(300, 1%, 38%, 1);
    --clr-hover: hsla(161, 88%, 94%, 1);
    --clr-background: hsla(0, 0%, 100%, 1);
}

.dm-message-in-out-box {
    height: 73vh;
    overflow-y: auto;
}

.dm-footer-input-field {
    border: 1px solid violet;
}

.dm-chatcontainer-box {
    background: #f9f9f9;
}
