.thread {
  width: 399px;
  max-height: 100%;
  overflow-y: scroll;
  position: absolute;
  padding: 10px;
  right: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  font-family: "Lato", sans-serif;
}

.inputBox {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 1rem;
}

.divider {
  display: flex;
  align-items: center;
}

.divider p {
  font-size: 14px;
  font-weight: thin;
}

.divider hr {
  border-top: 1px solid #ccc;
  margin-top: 2px;
  flex: 1;
}


.inputBox__input {
  border: none;
  width: 100%;
  padding: 1rem 10px;
  outline: none;
}

.inputBox__input::placeholder {
  color: #BEBEBE;
}

.inputBox__tool {
  min-height:2rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBox__tool > div svg{
  margin-right: 10px;
  opacity: .5;
}

.inputBox__tool .active {
  opacity: 1;

}

.inputBox__checkbox {
  /* padding: 10px; */
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}