.chatContainerBox {
    display: grid;
    grid-template-columns: 1fr auto;
    width:100%;
    height:100%;
    gap: 1rem;
}

.asideContent {
    width: 0;
}

.asideContent.active {
    width:  340px;
    transition: all .005s ease-out;
}