.Dm-ThreeDotKebab-Menu-FirstPopup {
  /* padding: 20px; */
  background: #f8f8ff;
  width: 306px;
  height: 390px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.18);
  position: absolute;
  left: 1000px;
  padding-bottom: 15px;
}
.Dm-ThreeDotKebab-Menu-FirstPopup div {
  padding: 9px;
  border-bottom: solid 0.1px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #3a3a3a;
  bottom: 1.5rem;
  right: 1rem;
  line-height: 24px;
  padding-left: 32px;
  padding-right: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.Dm-ThreeDotKebab-Menu-FirstPopup .DmPollMore {
  border-bottom: none;
}
.DmPollMore.DmPollMoreSpecial {
  display: block;
}
.Dm-ThreeDotKebab-Menu-FirstPopup div:hover,
.Dm-ThreeDotKebab-Menu-SecondPopup div:hover {
  background: #1264a3;
  color: #fff;
}

.Dm-ThreeDotKebab-Menu-SecondPopup {
  /* padding: 20px; */
  border: 1px solid #c4c4c4;
  width: 198px;
  height: 184px;
  background: #fefefe;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding-top: 10px;
  position: absolute;
  top: 80px;
  right: 410px;
  font-family: "lato";
}
.Dm-ThreeDotKebab-Menu-SecondPopup div {
  /* padding: 5px; */
  font-size: 14px;
  font-weight: 500px;
  line-height: 24px;
  /* width: 198px; */
  height: 29px;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  color: #616061;
}
.Dm-ThreeDotKebab-Menu-SecondPopupCustom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Dm-ThreeDotKebab-Menu-SecondPopupCustom,
span {
  padding-right: 20px;
}

button {
  flex: right;
}
.DmMenuListBorder {
  border: 5px solid (0, 0, 0, 3);
}
.DmPollMessage {
  border-bottom: none !important;
}
.Dm-ThreeDotKebab-Menu-FirstPopup {
  z-index: 1000;
}
.Dm-ThreeDotKebab-Menu-SecondPopup {
  z-index: 1000;
}
.Dm-ThreeDotKebab-Menu-FirstPopup {
  position: absolute;
  top: 0;
  left: 900px;
}
/* .Dm-ThreeDotKebab-DeleteMessage {
  border: 1px solid #c4c4c4;
  width: 198px;
  height: 184px;
  background: #fefefe;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding-top: 10px;
  position: absolute;
  top: 80px;
  right: 350px;
  font-family: "lato";
} */
.Dm-ThreeDotKebab-DeleteMessage {
  background-color: #fefefe;
  border: 1px solid #c4c4c4;
  width: 350px;
  height: 120px;
  padding: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -175px;
  font-family: "lato";
  z-index: 1000;
}
.Dm-Delete-Confirm {
  display: flex;
  justify-content: space-around;
}
.Dm-Delete-Confirm button {
  border: 1px solid #c4c4c4;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}
