{
  "extends": [
    "react-important-stuff",
    "plugin:prettier/recommended"
  ],
  // "parser": "@babel/eslint-parser"
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": "false"
  },
  "babelOptions": {
    "configFile": "./.babelrc"
  }
}