@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.DmfullProfile{
    position: fixed;
    top: 70px;
    right: 10px;
    bottom: 0;
    background: #FFF;
    width: 24rem;
    overflow: hidden;
    overflow-y: scroll;
    padding: .5rem .5rem 5rem .5rem;
}

.DmfullProfile::-webkit-scrollbar {
    width: .5rem;
}

.DmfullProfile::-webkit-scrollbar-track {
    display: none;
}

.DmfullProfile::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
}

.DmfullProfile .profile-picture{
    width: 23rem;
    height: 20rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
}

.DmfullProfile .fullname,
.DmfullProfile .description,
.DmfullProfile .pronouns,
.DmfullProfile .emoji-tag{
    text-align: center;
}

.DmfullProfile .fullname h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.DmfullProfile .description p{
    margin: 0;
}

.DmfullProfile .description,
.DmfullProfile .pronouns{
    color: #616061
}

.DmfullProfile .profile-buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0px 2.5rem;
    margin: 1.6rem 0;
}

.DmfullProfile .profile-buttons .btn{
    text-align: center;
    color: #999999;
    font-size: 13px;
    font-weight: 500;

}

.DmfullProfile .profile-buttons .btn-icon{
    cursor: pointer;
    margin-bottom: 5px; 
}

.DmfullProfile .profile-buttons .more-options-modal{
    position: absolute;
    bottom: -10.5rem;
    color: #3A3A3A;
    background: #F8F8F8;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 20rem;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 14px;
}

.DmfullProfile .profile-buttons .more-options-modal .top{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 25px;
}

.DmfullProfile .profile-buttons .more-options-modal .top p{
    margin: 0;
}

.DmfullProfile .profile-buttons .more-options-modal .bottom{
    position: relative;
    padding-top: 25px;
}

.DmfullProfile .profile-buttons .more-options-modal .bottom p{
    margin: 0 0 5px 0;
}

.DmfullProfile .profile-buttons .more-options-modal .bottom .copy-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.DmfullProfile .display-name,
.DmfullProfile .local-time,
.DmfullProfile .phone-number{
    margin-left: 1rem; 
}

.DmfullProfile .display-name .label,
.DmfullProfile .local-time .label,
.DmfullProfile .phone-number .label{
    color: #999999;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}

.DmfullProfile .display-name .text,
.DmfullProfile .local-time .text,
.DmfullProfile .phone-number .text{
    color: #616061;
    font-weight: 500;
    font-size: 15px;
}