<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- loading fontAwesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- css touching -->
    <link rel="stylesheet" href="style.css">
    <!-- Vue.js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Orpheus</title>
</head>

<body style="text-align: center;">
    <h1>Team Orpheus</h1>
    <h3>DM PLUGIN IS OFFICIALLY WORKING, SEYE</h3>

    <div id="app">
      <p>[[message]]</p>
      <div class="row mx-auto justify-content-sm-between wrapper bg-light">
        <div class="col-auto d-flex">
          <div class="row p-2 align-items-center">
            <div class="col d-flex justify-content-center">
              <div class="col py-2 d-flex ps-2 justify-content-center lightning"><i class="bi bi-lightning"></i></div>
            </div>
            <div class="col py-2 bold"><i class="bi bi-type-bold"></i></div>
            <div class="col py-2 italic"><i class="bi bi-type-italic"></i></div>
            <div class="col py-2 strike-through"><i class="bi bi-type-strikethrough"></i></div>
            <div class="col py-2 code"><i class="bi bi-code-slash"></i></div>
            <div class="col py-2 link"><i class="bi bi-link-45deg"></i></div>
            <div class="col py-2 list-ol"><i class="bi bi-list-ol"></i></div>
            <div class="col py-2 list-ul"><i class="bi bi-list-ul"></i></div>
            <div class="col py-2 quoteblock"><i class="bi bi-bar-chart-steps"></i></div>
            <div class="col py-2 code-block"><i class="bi bi-code-square"></i></div>
            <div class="col py-2 three-dots"><i class="bi bi-three-dots"></i></div>
          </div>
        </div>
        <div class="col-auto d-flex">
          <div class="row p-2 align-items-center">
            <div class="col py-2 type"><i class="bi bi-type"></i></div>
            <div class="col py-2 at"><i class="bi bi-at"></i></div>
            <div class="col py-2 emoji"><i class="bi bi-emoji-smile"></i></div>
            <div class="col py-2 paperclip"><i class="bi bi-paperclip"></i></div>
            <div class="col d-flex px-0">
              <div class="col d-flex cursor ps-3"><i class="bi bi-cursor-fill"></i></div>
              <div class="col ps-3 pe-1 chevron-down"><i class="bi bi-chevron-down"></i></div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- LoadBootstrapVue -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</body>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            message: 'added button to the DM text box!'
        }
    });

</script>

</html>