<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Vue.js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Font Awsome  -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Custom css -->
    <link rel="stylesheet" href="assets/style.css" />

    <!-- vuex cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <title>Orpheus</title>
</head>

<body>


    <div id="app" class="bg-light" >
        <div class="container bg-white w-75 pa-6 dm_layout shadow-sm p-3 mb-5 bg-grey rounded">
            <div class="container message-layout">
                <!-- <h1>Team Orpheus</h1>
                <h3>DM PLUGIN IS OFFICIALLY WORKING, SEYE</h3>
                <h3>[[message]]</h3>
                <p>[[ $store.state.message ]]</p> -->

                <div class="row">
                   <div class="col">
                        <divider></divider>
                        <!-- <div for=`message in $store.state.zuri_message` :key="message.name">
                            <p>[[message]]</p>
                        </div> -->
                        <!-- <p>
                            [[$store.state.zuri_message]]
                        </p> -->

                        <message></message>

                   </div>
                </div>
            </div>
            <div class="container form-section mb-2">
                <div class="row">
                    <div class="col">
                        <div class="textarea-input w-80">
                            <form action="" class="form-control shadow-sm p-3  bg-white rounded">
                                <b-form-input  size="lg"
                                    placeholder="Send to ...">
                                </b-form-input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LoadBootstrapVue -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>

<script>

    //divider component
    Vue.component('divider', {
        props: [],
        template: '<div class="divider-line border-top"><div class="btn py-1 timeline border position-relative">Wednesday, 1st September <span class="chevron d-inline-block">&#x203A;</span></div></div>'
    })

    // Message Ccomponent
    Vue.component("message", {
        template: `<div>
            <div class="d-flex flex-wrap-xs align-items-start bg-light p-2" v-for="(messages, index) in message_data" >
                <div><b-avatar badge badge-top badge-variant="success" src="https://res.cloudinary.com/mogaka-dev/image/upload/v1630499063/avatar_fco1z2.png" badge-offset="-0.5em" size="45px"></b-avatar></div>
                    <div>
                        <b>{{messages.user_name}}</b>&nbsp;&nbsp;{{messages.time_stamp}}
                        <div>
                            {{messages.main_message}}
                        </div>
                    </div>
                </div>
            </div>`,
        data: function () {
            return {
                message_data: [
                    {
                        user_name: 'MammaGee',
                        user_icon: 'images/big.jpg',
                        main_message: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque natus magni consequuntur aut ducimus odit veniam voluptatum necessitatibus! Ipsum eum voluptates neque ipsa, reiciendis distinctio hic aliquid blanditiis vel iusto.',
                        time_stamp: '5:55pm'
                    }
                ]

            };
        },
    });
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            message: 'Hello Vue!',

        }
    });

</script>