.wrapper{
  max-width: 1100px;
}


.bold-span{
  margin: 0 .5rem 0 0;
  color: #adb5bd;
}
.bi-chevron-down{
  font-size: 9px;
}
.type{
  background-color: #ced4da;
  border-radius: 5px;
  color: gray;
}
.type:hover{
  color: black;
}
.lightning::after, .cursor::after{
  content: '|';
  color: #adb5bd;
  margin: 0 0 0 9px;
} 
.lightning:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
}
.emoji:hover,
.at:hover, 
.paperclip:hover, 
.code-block:hover, 
.quoteblock:hover, 
.list-ul:hover, 
.list-ol:hover, 
.link:hover, 
.code:hover, 
.strike-through:hover, 
.italic:hover, 
.bold:hover{
  background-color: #e9ecef;
  border-radius: 5px;
}
.code-block, 
.quoteblock, 
.list-ul, 
.list-ol, 
.link, 
.code, 
.strike-through, 
.italic, 
.bold
{
  display: none;
}
@media only screen and (min-width:407px){
 .bold{
   display: block;
 }
}
@media only screen and (min-width:449px){
  .italic{
    display: block;
  }
 }
 @media only screen and (min-width:490px){
  .strike-through{
    display: block;
  }
 }
 @media only screen and (min-width:531px){
  .code{
    display: block;
  }
 }
 @media only screen and (min-width:568px){
  .link{
    display: block;
  }
 }
 @media only screen and (min-width:608px){
  .list-ol{
    display: block;
  }
 }
 @media only screen and (min-width:649px){
  .list-ul{
    display: block;
  }
 }
 @media only screen and (min-width:690px){
  .quoteblock{
    display: block;
  }
 }
 @media only screen and (min-width:707px){
  .code-block{
    display: block;
  }
  .three-dots{
    display: none;
  }
 }