<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>

        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

        <!-- Vue.js cdn -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <!-- <script src="https://unpkg.com/vue@next"></script> -->

        <!-- Axios cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Font Awsome  -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />

        <!-- vuex cdn -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <style>
            html,
            body {
                font-family: 'Inter', sans-serif;
            }

            #personal_main {
                width: 340px;
            }

            .personal_header {
                height: 50px;
                background-color: #00B87C;
            }

            .partner_img_container,
            .partner_img_container img {
                height: 200px;
                width: 200px;
            }

            .partner_img_container {
                margin: auto;
            }

            .personal_profile_option {
                margin: auto;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #F6F6F6;
            }

            .personal_profile_details {
                font-size: 12px;
            }
        </style>
    </head>

    <body>
        <main id="app" class="container-fluid p-3">
            <main class="row">
                <section class="col-sm">
                </section>
                <section class="col-sm-3">
                    <div id="personal_main">
                        <div class="card">
                            <div
                                class=" text-light d-flex justify-content-between card-header personal_header align-items-center">
                                <h5 class="my-0">Profile</h5>
                                <button class="btn  text-light">
                                    <i class="fas fa-times  "></i>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="partner_img_container">
                                    <img src="./images/big.jpg" alt="Partner Picture" class="img rounded-circle">
                                </div>
                                <div class="text-center mt-3">
                                    <h4 class="mb-0  fw-bold">{{partner.name}}</h4>
                                    <p class="small mb-0">{{partner.about}}</p>
                                    <p class="small">{{partner.pronoun}}</p>
                                    <p class="text-center">
                                        <span>🐺</span>
                                    </p>
                                </div>
                                <div class="d-flex justify-content-around">

                                    <div class="text-center">
                                        <div class="personal_profile_option">
                                            <i class="far fa-comment-dots"></i>
                                        </div>
                                        <p class="small text-muted mt-2 personal_profile_details">Message</p>
                                    </div>

                                    <div class="text-center">
                                        <div class="personal_profile_option">
                                            <i class="far fa-bell"></i>
                                        </div>
                                        <p class="small text-muted mt-2 personal_profile_details">Mute</p>
                                    </div>

                                    <div class="text-center">
                                        <div class="personal_profile_option">
                                            <i class="fas fa-ellipsis-h"></i>

                                        </div>
                                        <p class="small text-muted mt-2 personal_profile_details">More</p>
                                    </div>

                                </div>

                                <div class="container mt-3">
                                    <div>
                                        <p class="text-secondary mb-0 small personal_profile_details">Display Name</p>
                                        <p>{{partner.displayName}}</p>
                                    </div>
                                    <div>
                                        <p class="text-secondary mb-0 small personal_profile_details">Local Time</p>
                                        <p>{{partner.localTime}}</p>
                                    </div>
                                    <div>
                                        <p class="text-secondary mb-0 small personal_profile_details">Phone Number</p>
                                        <p>{{partner.phoneNumber}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </main>

        <script>
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        partner: {
                            name: 'Mama Gee',
                            about: 'Frontend Design Mentor',
                            pronoun: 'She/He',
                            displayName: 'MamaGee',
                            localTime: '3:15PM',
                            phoneNumber: '78192498192',
                        }
                    }
                },
            })
        </script>
    </body>

</html>